{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current",
        "esmodules": true
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["@babel/plugin-proposal-class-properties", { "loose":  true }],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
